#searchResult{
  list-style: none;
  padding: 0px;
  z-index: 9;
  border-radius: 6px;
  background-color: #cccccc;
  position: absolute;
  margin: 0;
  width:96%;
}

#searchResult li{
  padding: 4px;
  margin-bottom: 1px;
}

#searchResult li:nth-child(even){
  background: cadetblue;
  color: white;
}

#searchResult li:hover{
  cursor: pointer;
}

